@using Microsoft.FSharp.Core
@using Client.Shared
<p>
    <style>
        span.overdue { background-color : red; color : white }
        span.today { background-color : blue; color : white }
        span.later { background-color : lightgray }
        span.completeTitle { font-weight:bold; text-decoration:line-through }
        span.incompleteTitle { font-weight:bold }
    </style>
    @{
        string titleStyle = Item.Status.IsComplete ? "completeTitle" : "incompleteTitle";
    }
    @if (Item.Status is DomainTypes.Status.Postponed p)
    {
        DateTime now = DateTime.Now;
        int daysUntil = Convert.ToInt32((p.Item - now).TotalDays);
        (string daysUntilText,string styleName) =
            (daysUntil < 0) ? ("Due","overdue") :
            (daysUntil == 0) ? ("Today","today") :
            ($"+{daysUntil} days","later");
        <span class="@styleName">@daysUntilText</span>
    }
    <span class="@titleStyle">@Item.Title</span>@if (Item.Quantity!="")
    {<span> * @Item.Quantity</span>}@if (Item.Note!="")
    {<br /><span>@Item.Note</span>}
    <button @onclick="e=>OnDelete.InvokeAsync(Item.Id)">Delete</button>
</p>

@code {
    [Parameter]
    public DomainTypes.ItemSummary Item { get; set; }

    [Parameter]
    public EventCallback<DomainTypes.ItemId> OnDelete { get; set; }
}