<h3>Item Edit</h3>

<form>
    <div>
        <label>
            Name: <input @oninput="OnTitleChange" @onfocusout="OnTitleFocusOut" @onfocusin="OnTitleFocusIn" placeholder="Apples, Canned Tuna, ..." value="@_view.Title.Text" />
            @if (_view.Title.Error.IsSome())
            {
                <span>Error: @_view.Title.Error.Value</span>
            }
        </label>
    </div>
    <div>
        <label>
            Quantity: <input @oninput="OnQuantityChange" @onfocusout="OnQuantityFocusOut" @onfocusin="OnQuantityFocusIn" placeholder="1 jar, 3 lb, lots!" value="@_view.Quantity.Text" />
            @if (_view.Quantity.Error.IsSome())
            {
                <span>Error: @_view.Quantity.Error.Value</span>
            }
            <button disabled="@(!_view.QuantitySpinner.CanDecrease)" type="button" @onclick="QuantityDecrease">-</button>
            <button disabled="@(!_view.QuantitySpinner.CanIncrease)" type="button" @onclick="QuantityIncrease">+</button>
        </label>
    </div>
    <div>
        <label>
            Note: <textarea rows="3" @oninput="OnNoteChange" @onfocusout="OnNoteFocusOut" @onfocusin="OnNoteFocusIn" placeholder="Favorite brand, organic-only, not too ripe, .." value="@_view.Note.Text" />
            @if (_view.Note.Error.IsSome())
            {
                <span>Error: @_view.Note.Error.Value</span>
            }
        </label>
    </div>
    <div>
        <label>
            Repeat:
            <select @onchange="OnRepeatChange" @onfocusin="OnRepeatFocusIn" @onfocusout="OnRepeatFocusOut">
                @foreach (var i in global::ChooseOne.items(_view.Repeat))
                {
                    string description = RepeatAsText(i.Value);
                    <option selected="@i.IsSelected" value="@i.Key">@description</option>
                }
            </select>
        </label>
    </div>
    <div>
        <label>
            RelativeStatus:
            <select @onchange="OnRelativeStatusChange" @onfocusin="OnRelativeStatusFocusIn" @onfocusout="OnRelativeStatusFocusOut">
                @foreach (var i in global::ChooseOne.items(_view.RelativeStatus))
                {
                    string description = RelativeStatusAsText(i.Value);
                    <option selected="@i.IsSelected" value="@i.Key">@description</option>
                }
            </select>
        </label>
    </div>
    <button type="button" @onclick="e=>OnSubmit.InvokeAsync(null)" disabled="@(!_view.Commands.Contains(DomainTypes.ItemEditCommand.Submit))">Save</button>
    <button type="button" @onclick="e=>OnDelete.InvokeAsync(null)" disabled="@(!_view.Commands.Contains(DomainTypes.ItemEditCommand.Delete))">Delete</button>
    <button type="button" @onclick="e=>OnCancel.InvokeAsync(null)" disabled="@(!_view.Commands.Contains(DomainTypes.ItemEditCommand.Cancel))">Cancel</button>

</form>
