@using Common
@using static Common.OptionExtensions

<style>
    .divider {
        color: lightgray
    }

    .completed {
        text-decoration: line-through
    }
</style>
<p>
    @{
        var itemNameClass = ItemQry.Schedule.IsCompleted ? "completed" : "";
    }
    <a href="./ItemEdit2/@ItemQry.ItemId.Item">
        <span class="@itemNameClass">@ItemQry.ItemName.Item</span>
    </a>
    @if (!HideCategory) {
        var catName = ItemQry.Category.AsEnumerable().Select(i => i.CategoryName.Item).SingleOrDefault() ?? "(Uncategorized)";
        <span class="divider">&nbsp;|&nbsp;</span>@catName
    }
    @if (ItemQry.Quantity.IsSome()) {
        var quantity = ItemQry.Quantity.Value;
        <span class="divider">&nbsp;|&nbsp;</span>@ItemQry.Quantity.Value.Item
    }
    @if (ItemQry.Note.IsSome()) {
        var note = ItemQry.Note.Value;
        <span class="divider">&nbsp;|&nbsp;</span>@ItemQry.Note.Value.Item
    }
    <span class="divider">&nbsp;|&nbsp;</span><a href="." @onclick:preventDefault @onclick="@(async () => { await OnClickDelete.InvokeAsync(ItemQry.ItemId); })">
        delete
    </a>
    @if (!ItemQry.Schedule.IsCompleted) {
        <span class="divider">&nbsp;|&nbsp;</span><a href="." @onclick:preventDefault @onclick="@(async () => { await OnClickComplete.InvokeAsync(ItemQry.ItemId); })">
            complete
        </a>}

</p>

@code {
    [Parameter]
    public Models.QueryTypes.ItemQry ItemQry { get; set; }

    [Parameter]
    public bool HideCategory { get; set; } = false;

    [Parameter]
    public EventCallback<Models.StateTypes.ItemId> OnClickDelete { get; set; }

    [Parameter]
    public EventCallback<Models.StateTypes.ItemId> OnClickComplete { get; set; }
}