@page "/itemedit"
@using Common
@using Microsoft.FSharp.Core;
@using static Models.ItemEditFormModule

<h1>Edit item</h1>
<form>
    <div>
        <label>
            Name: <input @oninput="OnItemNameChange" @onfocusout="OnItemNameFocusOut" placeholder="Apples, Canned Tuna, ..." value="@Form.ItemName.Value" />
            @if (Form.ItemName.ValidationResult.IsError) {
                <span>Error: @Form.ItemName.ValidationResult.ErrorValue</span>
            }
        </label>
    </div>
    <div>
        <label>
            Quantity: <input @oninput="OnQuantityChange" @onfocusout="OnQuantityFocusOut" placeholder="3, Lots!, 2 lb., 1 jar, ..." value="@Form.Quantity.Value" />
            @if (Form.Quantity.ValidationResult.IsError) {
                <span>Error: @Form.Quantity.ValidationResult.ErrorValue</span>
            }
        </label>
    </div>
    <div>
        <label>
            Repeat:
            <select @onchange="OnRepeatChange">
                @{
                    int repeatInterval = Form.Schedule switch
                    {
                        RelativeSchedule.Repeat r => r.Item.Interval,
                        _ => -1
                    };
                }
                <option selected="@repeatInterval == -1" value="-1">Only once</option>
                @foreach (var i in Form.RepeatIntervalChoices) {
                    string description = Form.RepeatIntervalAsText(i);
                    string key = i.ToString();
                    bool isSelected = i == repeatInterval;
                    <option selected="@isSelected" value="@key">@description</option>
                }
            </select>
        </label>
    </div>
    <div>
        <label>
            Stores:<br />
            @foreach (var s in Form.Stores.OrderBy(i => i.Store.StoreName)) {
                <input type="checkbox" @oninput="e=>OnStoreChange(e,s.Store.StoreId)" id="@s.Store.StoreId" name="@s.Store.StoreId" checked="@s.IsSold">
                <label for="vehicle1"> @s.Store.StoreName.Item</label><br>
            }
            @Form.StoreSummary()

        </label>
    </div>
</form>
