@page "/shoppinglist"
@using Common
@using Microsoft.FSharp.Core;

<h1>Shopping List</h1>
<select @onchange="OnStoreFilterChange">
    <option value="@Guid.Empty" selected="@(StoreFilter==Guid.Empty)">All Stores</option>
    @foreach (var s in StoreFilterChoices) {
        Guid key = s.StoreId.Item;
        bool isSelected = key == StoreFilter;
        string description = s.StoreName.Item;
        <option selected="@isSelected" value="@key.ToString()">@description</option>
    }
</select>

@foreach (var cat in Items.Select(j => j.Category).Distinct().OrderBy(i => i)) {
    var categoryName = cat.IsNone() ? "(Uncategorized)" : cat.Value.CategoryName.Item;
    <h2>@categoryName</h2>
    @foreach (var item in Items.Where(i => i.Category.Equals(cat))) {
        <WebApp.Shared.Item OnClickDelete="OnClickDelete" ItemQry="@item" />
    }
}