@page "/shoppinglist"
@using Models
@using Common
@using Microsoft.FSharp.Core;
@using WebApp.Shared;
@using static Models.CoreTypes;
@using static Models.ShoppingListSettingsModule;

<style>
    .categoryHeader {
        margin-top: 1.0rem;
        margin-bottom: 0.4rem;
        background-color: white;
        padding: 0;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 3rem;
        border: 0;
        font-weight: bold;
        scroll-margin-top: 4rem;
        font-size:larger;
        color:darkgreen;
    }

        .categoryHeader:active {
            background-color: ButtonFace;
        }

        .categoryHeader:focus {
            border: inherit;
            outline-color: #d4d4d4;
            outline: none !important;
            box-shadow: none !important;
        }

        .categoryHeader:active {
            border: inherit;
            outline-color: #d4d4d4;
            outline: none !important;
            box-shadow: none !important;
        }

    .filterRow {
        animation-duration: 0.2s;
        animation-name: slidein;
        animation-timing-function: ease-out;
        width: 30ch;
    }

    .filterInput {
        width: 20ch;
        font-size: larger;
    }

    @@keyframes slidein {
        from {
            margin-left: 60%;
            width: 1ch;
        }

        to {
            margin-left: 0%;
            width: 30ch;
        }
    }

    .jm-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .jm-navbar * {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .jm-navbar:not(.search) #cancelSearch {
            display: none;
        }

        .jm-navbar.search > :first-child {
            display: none;
        }

        .jm-navbar button.titleButton {
            border: none;
            padding: 0.5rem;
            background-color: transparent;
            color: white;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            outline: none;
            font-size: larger;
            box-shadow: none !important;
        }

        .jm-navbar button.titleButton:focus {
            outline: none !important;
        }

        .jm-navbar button.titleButton:active {
            outline: none !important;
            background-color: dodgerblue;
        }

    #searchColumn.search > :not(#searchElements) {
        display: none;
    }

    #searchTrigger {
        display: inline-grid;
    }

        #searchTrigger > #decoy {
            z-index: 99;
            justify-content: center;
            color: white;
        }

        #searchTrigger > #searchInput {
            z-index: 100;
            opacity: 0;
            width: 4em;
            border: none;
            border-radius: 3px;
            padding: 4px;
            cursor: pointer;
        }

        #searchTrigger.search > #decoy {
            display: none;
        }

        @{ var inputWidth = (StateService.CurrentState.LoggedInUserSettings().FontSize.IsLargeFontSize) ? "15em" : "17em"; }

#searchTrigger.search > #searchInput {
            opacity: 1;
                    width: @inputWidth;
            cursor: text;
        }

#searchTrigger > * {
                grid-column: 1;
            grid-row: 1;
        }

#searchColumn.search > #searchElements {
        animation: startSearch;
            animation-duration: 0.25s;
            animation-timing-function: ease;
    }

    @@keyframes startSearch {
        from {
            opacity: 0;
            margin-left: 12em;
        }

        to {
            opacity: 1;
            margin-left: 0px;
        }
    }

    ion-icon {
        font-size: 24px;
    }

    .buyAgainGroup {
        background-color: #efefef;
    }

        .buyAgainGroup .buyAgainHeader {
            font-size: smaller;
            color: darkgray;
            padding-left: 1rem;
            padding-top:0.3rem;
        }

</style>
@{
    string searchClass = ShowFilter ? "search" : "";
    Store currentStoreFilter = ShoppingListView.StoreFilter.AsEnumerable().SingleOrDefault();
    string currentStoreName = currentStoreFilter?.StoreName.AsText() ?? "All Stores";
}
<div class="jm-navbar bg-dark @searchClass">
    <button class="titleButton" ontouchstart="" @onclick="async _=>await OpenStoreNavigator()">@currentStoreName</button>
    <div id="searchColumn" class="@searchClass">
        <button ontouchstart="" @onclick="async _ => await _viewOptionsDrawer.Open(StateService.CurrentState.LoggedInUserSettings().FontSize)" class="btn text-light">
            <ion-icon name="@(Settings.HideCompletedItems ? "eye-off-outline" : "eye-outline")"></ion-icon>
        </button>
        <SyncButton Style="padding:0px;margin-right:2em" />
        <div id="searchElements">
            <div id="searchTrigger" class="@searchClass">
                <div id="decoy"><ion-icon name="search-outline"></ion-icon><span style="margin-left:-5px"><ion-icon name="add-outline"></ion-icon></span></div>
                <input @onclick="_ => ShowFilter = true"
                       value="@ShoppingListView.TextFilter.ValueCommitted"
                       @oninput="e => OnTextFilterInput((string)e.Value)"
                       @onkeydown="@(e => OnTextFilterKeyDown(e))"
                       @onblur="@(e => OnTextFilterBlur())"
                       id="searchInput"
                       placeholder="Find or add"
                       autocomplete="off"
                       type="text" />
            </div>
            <button class="btn text-light" @onclick="_ => HideTextFilter()" id="cancelSearch">Done</button>
        </div>
    </div>
</div>
<div class="col">
    @{
        var now = DateTimeOffset.Now;
        var hideStores = !ShowFilter && ShoppingListView.StoreFilter.IsSome();
        foreach (var categorySummary in ShoppingListView.Categories.Where(j => j.Total > 0))
        {
            var c = categorySummary;
            var catName = c.Category.IsNone() ? "Uncategorized" : c.Category.Value.CategoryName.Item;
            var catId = c.Category.AsEnumerable().Select(i => i.CategoryId).FirstOrDefault();
            <button ontouchstart="" @ref="_categoryReferences[catId]" @onclick="async e => await OnClickCategoryHeader()" class="categoryHeader">
                @catName
            </button>
            if (c.Total > 0)
            {
                var activeItems = c.Items.Where(j => j.Schedule.IsActive());
                var inactiveItems = c.Items.Where(j => !j.Schedule.IsActive()).ToArray();
                foreach (var itemUncaptured in activeItems)
                {
                    var item = itemUncaptured;
<div style="margin-left:-0.3rem">
    <WebApp.Shared.Item HideStores="@hideStores" OnClickAddToShoppingList="async i => await OnClickAddToShoppingList(i)" OnClickDue="async i => await OnClickChoosePostpone(i)" OnClick="async i => await OnClickItem(item.ItemId)" ItemQry="@item" />
</div>                }
                @if (inactiveItems.Length > 0)
                {
                    <div class="buyAgainGroup">
                        <div class="buyAgainHeader">Buy again?</div>
                        @foreach (var itemUncaptured in inactiveItems)
                        {
                        var item = itemUncaptured;
                        <WebApp.Shared.Item HideStores="@hideStores" OnClickAddToShoppingList="async i => await OnClickAddToShoppingList(i)" OnClickDue="async i => await OnClickChoosePostpone(i)" OnClick="async i => await OnClickItem(item.ItemId)" ItemQry="@item" />
                        }
                    </div>
                }
            }
            else
            {
                <p style="margin-left:20px; font-size:smaller" class="text-muted">None</p>
            }
        }
    }
    @if (TextFilter.Length >= 1)
    {
        if (ShoppingListView.TotalItems == 0)
        {
            <p style="margin-top:1rem">Nothing found like that.</p>
            <button style="margin-top:0rem" class="btn btn-primary" @onclick="OnStartCreateNew">Create new item...</button>
        }
        else
        {
            <p style="margin-top:1rem; margin-bottom:0px; border-top:1px solid #acacac">&nbsp;</p>
            <button class="btn btn-primary" @onclick="OnStartCreateNew">Create new item...</button>
        }
    }
    else if (ShoppingListView.TotalItems == 0)
    {
        <p style="margin-top:1rem">No items on your shopping list.</p>
    }
</div>
<ItemQuickActionDrawer OnDelete="async i => await OnClickDelete(i)"
                       OnAddToShoppingListNow="async i=> await OnClickRemovePostpone(i)"
                       OnBuyAgain="async i=>await OnClickChooseFrequency(i)"
                       OnComplete="async i=> await OnClickComplete(i)"
                       OnEdit="async i => await OnEditItem(i)"
                       OnPostpone="async i=> await OnClickChoosePostpone(i)"
                       OnPostponeDays="async i=>await OnClickPostponeDays(i)"
                       @ref="_itemQuickActionDrawer"></ItemQuickActionDrawer>
<PostponeDrawer OnSelected="async d => await OnPostponeDurationChosen(d)" @ref="_postponeDrawer"></PostponeDrawer>
<FrequencyDrawer OnSelected="async r => await OnFrequencyChosen(r)" @ref="_frequencyDrawer"></FrequencyDrawer>
<CategoryNavigatorDrawer OnSelect="async id => await OnNavigateToCategory(id)" OnManageCategories="OnManageCategories" @ref="_categoryNavigationDrawer"></CategoryNavigatorDrawer>
<StoreNavigatorDrawer OnSelect="async id => await OnChooseStore(id)" OnManageStores="_ => OnManageStores()" @ref="_storesNavigatorDrawer"></StoreNavigatorDrawer>
<ViewOptionsDrawer ChooseFontSize="async s => await UseFontSize(s)" OnHideUpcoming="async _ => await SwitchToShoppingMode()" OnSelectUpcomingDays="async d=>await SwitchToPlanningMode(d)" @ref="_viewOptionsDrawer"></ViewOptionsDrawer>
