@page "/shoppinglist"
@using Models
@using Common
@using Microsoft.FSharp.Core;
@using WebApp.Shared;
@using static Models.CoreTypes;
@using static Models.ScheduleModule.ScheduleExtensions;
@using static Models.ShoppingListSettingsModule

<style>
    .categoryHeader {
        margin-top: 1.0rem;
        margin-bottom: 0.4rem;
        max-width: 250px;
        background-color: white;
        padding: 0;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 3rem;
        border: 0;
        font-weight: bold;
        scroll-margin-top: 4rem;
    }

        .categoryHeader:active {
            background-color: ButtonFace;
        }

        .categoryHeader:focus {
            border: inherit;
            outline-color: #d4d4d4;
            outline: none !important;
            box-shadow: none !important;
        }

        .categoryHeader:active {
            border: inherit;
            outline-color: #d4d4d4;
            outline: none !important;
            box-shadow: none !important;
        }

    .filterRow {
        animation-duration: 0.2s;
        animation-name: slidein;
        animation-timing-function: ease-out;
        width: 30ch;
    }

    .filterInput {
        width: 20ch;
        font-size: larger;
    }

    @@keyframes slidein {
        from {
            margin-left: 60%;
            width: 1ch;
        }

        to {
            margin-left: 0%;
            width: 30ch;
        }
    }

    .jm-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px 5px 10px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .jm-navbar * {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .jm-navbar:not(.search) #cancelSearch {
            display: none;
        }

        .jm-navbar.search > :first-child {
            display: none;
        }

    #searchColumn.search > :not(#searchElements) {
        display: none;
    }

    #searchTrigger {
        display: inline-grid;
    }

        #searchTrigger > #decoy {
            z-index: 99;
            justify-content: center;
            color: white;
        }

        #searchTrigger > #searchInput {
            z-index: 100;
            opacity: 0;
            width: 4em;
            border: none;
            border-radius: 3px;
            padding: 4px;
            cursor: pointer;
        }

        #searchTrigger.search > #decoy {
            display: none;
        }

        @{ var inputWidth = (StateService.CurrentState.GetGlobalSettings().LargerFontSize) ? "15em" : "17em"; }

#searchTrigger.search > #searchInput {
            opacity: 1;
                    width: @inputWidth;
            cursor: text;
        }

#searchTrigger > * {
                grid-column: 1;
            grid-row: 1;
        }

#searchColumn.search > #searchElements {
        animation: startSearch;
            animation-duration: 0.25s;
            animation-timing-function: ease;
    }

    @@keyframes startSearch {
        from {
            opacity: 0;
            margin-left: 12em;
        }

        to {
            opacity: 1;
            margin-left: 0px;
        }
    }

    ion-icon {
        font-size: 24px;
    }

</style>
@{
    string searchClass = ShowFilter ? "search" : "";
}
<div class="jm-navbar bg-dark @searchClass">
    <div>
        <a style="margin-right:0.5rem; color:white" href="\"><ion-icon name="chevron-back-outline"></ion-icon></a>
        <ElixMenuButton SourcePartType="div" OnMenuItemSelected="@OnMenuItemSelected">
            <Content>
                <elix-menu-item disabled><strong>Plan</strong></elix-menu-item>
                <elix-menu-item id="plan7">Upcoming week</elix-menu-item>
                <elix-menu-item id="plan14">Next 2 weeks</elix-menu-item>
                <elix-menu-item id="planfuture">Future</elix-menu-item>
                <elix-menu-separator></elix-menu-separator>
                <elix-menu-item disabled><strong>Shop</strong></elix-menu-item>
                <elix-menu-item id="shopall">All Stores</elix-menu-item>
                @foreach (var s in StoreFilterChoices) {
                    string id = $"s{Models.StoreIdModule.serialize(s.StoreId)}";
                    <elix-menu-item id="@id">@s.StoreName.Item</elix-menu-item>
                }
                <div slot="source" style="display:flex; flex-direction:column; align-items:flex-start">
                    @{
                        string superTitle = null;
                        string title = null;
                        if (Settings.HideCompletedItems) {
                            superTitle = "Shopping list";
                            title =
                                Settings.StoreFilter.IsSome()
                                ? StoreFilterChoices.FirstOrDefault(j => j.StoreId.Equals(Settings.StoreFilter.Value)).StoreName.Item
                                : "All Stores";
                        }
                        else {
                            superTitle = "Plan";
                            title =
                                (Settings.PostponedViewHorizon == 14) ? "Next 2 weeks"
                                : (Settings.PostponedViewHorizon == 7) ? "Upcoming week"
                                : "Future";
                        }
                    }
                    <small class="text-light">@superTitle</small>
                    <div class="text-light" style="font-weight:bold">@title</div>
                </div>
            </Content>
        </ElixMenuButton>
    </div>
    <div id="searchColumn" class="@searchClass">
        <SyncButton Style="padding:0px;margin-right:2em" />
        <div id="searchElements">
            <div id="searchTrigger" class="@searchClass">
                <div id="decoy"><ion-icon name="search-outline"></ion-icon><span style="margin-left:-5px"><ion-icon name="add-outline"></ion-icon></span></div>
                <input @onclick="_ => ShowFilter = true"
                       value="@ShoppingListView.TextFilter.ValueCommitted"
                       @oninput="e => OnTextFilterInput((string)e.Value)"
                       @onkeydown="@(e => OnTextFilterKeyDown(e))"
                       @onblur="@(e => OnTextFilterBlur())"
                       id="searchInput"
                       placeholder="Find or add"
                       autocomplete="off"
                       type="text" />
            </div>
            <button class="btn text-light" @onclick="_ => HideTextFilter()" id="cancelSearch">Done</button>
        </div>
    </div>
</div>
<div class="col">
    @{
        var now = DateTimeOffset.Now;
        foreach (var categorySummary in ShoppingListView.Categories.Where(j => j.Total > 0)) {
            var c = categorySummary;
            var catName = c.Category.IsNone() ? "(Uncategorized)" : c.Category.Value.CategoryName.Item;
            var catId = c.Category.AsEnumerable().Select(i => i.CategoryId).FirstOrDefault();
            <button ontouchstart="" @ref="_categoryReferences[catId]" @onclick="async e => await OnClickCategoryHeader()" class="categoryHeader">
                @catName
            </button>
            if (c.Total > 0) {
                foreach (var itemUncaptured in c.Items) {
                    var item = itemUncaptured;
                    <WebApp.Shared.Item HideCategory="true" HideRepeatIcon="true" OnClick="async i => await OnClickItem(item.ItemId)" ItemQry="@item" />
                }
            }
            else {
                <p style="margin-left:20px; font-size:smaller" class="text-muted">None</p>
            }
        }
    }
    @if (TextFilter.Length >= 1) {
        if (ShoppingListView.TotalItems == 0) {
            <p style="margin-top:1rem">Nothing found like that.</p>
            <button style="margin-top:0rem" class="btn btn-primary" @onclick="OnStartCreateNew">Create new item...</button>
        }
        else {
            <p style="margin-top:1rem; margin-bottom:0px; border-top:1px solid #acacac">&nbsp;</p>
            <button class="btn btn-primary" @onclick="OnStartCreateNew">Create new item...</button>
        }
    }
    else if (ShoppingListView.TotalItems == 0) {
        <p style="margin-top:1rem">No items on your shopping list.</p>
    }
</div>
<ItemQuickActionDrawer OnDelete="async i => await OnClickDelete(i)"
                       OnAddToShoppingListNow="async i=> await OnClickRemovePostpone(i)"
                       OnBuyAgain="async i=>await OnClickChooseFrequency(i)"
                       OnComplete="async i=> await OnClickComplete(i)"
                       OnEdit="async i => await OnEditItem(i)"
                       OnPostpone="async i=> await OnClickChoosePostpone(i)"
                       OnPostponeDays="async i=>await OnClickPostponeDays(i)"
                       @ref="_itemQuickActionDrawer"></ItemQuickActionDrawer>
<PostponeDrawer OnSelected="async d => await OnPostponeDurationChosen(d)" @ref="_postponeDrawer"></PostponeDrawer>
<FrequencyDrawer OnSelected="async r => await OnFrequencyChosen(r)" @ref="_frequencyDrawer"></FrequencyDrawer>
<CategoryNavigatorDrawer OnSelect="async id => await OnNavigateToCategory(id)" OnManageCategories="OnManageCategories" @ref="_categoryNavigationDrawer"></CategoryNavigatorDrawer>