@page "/shoppinglist"

<h1>Shopping List</h1>
<select @onchange="OnStoreFilterChange">
    <option value="@Guid.Empty" selected="@(StoreFilter==Guid.Empty)">All Stores</option>
    @foreach (var s in StoreFilterChoices) {
        Guid key = s.StoreId.Item;
        bool isSelected = key == StoreFilter;
        string description = s.StoreName.Item;
        <option selected="@isSelected" value="@key.ToString()">@description</option>
    }
</select>
@foreach (var i in Items) {
    <WebApp.Shared.Item OnClickDelete="OnClickDelete" ItemQry="@i" />
}