@page "/shoppinglist"
@using Common
@using Microsoft.FSharp.Core;

<h1>Shopping List</h1>
<select @onchange="OnStoreFilterChange">
    <option value="@Guid.Empty" selected="@(StoreFilter==Guid.Empty)">All Stores</option>
    @foreach (var s in StoreFilterChoices) {
        Guid key = s.StoreId.Item;
        bool isSelected = key == StoreFilter;
        string description = s.StoreName.Item;
        <option selected="@isSelected" value="@key.ToString()">@description</option>
    }
</select>
<a href="editstore">new store</a>
@if (StoreFilter != Guid.Empty) {
    <text>&nbsp;| &nbsp;</text><a href="editstore/@StoreFilter">edit store</a>
}

@foreach (var cat in Items.Select(j => j.Category).Distinct().OrderBy(i => i)) {
    var categoryName = cat.IsNone() ? "(Uncategorized)" : cat.Value.CategoryName.Item;
    <div>
        <h4 style="display:inline-block">
            @categoryName
        </h4>
        @if (cat.IsSome()) {
            <text>&nbsp;</text><a href="categoryedit/@cat.Value.CategoryId.Item">edit</a>
        }
    </div>
    @foreach (var item in Items.Where(i => object.Equals(i.Category, cat))) {
        <WebApp.Shared.Item OnClickDelete="OnClickDelete" ItemQry="@item" />
    }
}
<a class="btn btn-primary" href="itemedit2">New item</a>
