@page "/storeedit"
@page "/storeedit/{ID}"
@implements IDisposable
@using System.Reactive.Linq;
@using Data;
@using Models;
@using static Common.OptionExtensions;
@using static Models.StoreEditFormModule.StoreEditFormExtensions;
@using FormMessage = Models.StoreEditFormModule.Message;
@using PageMessage = Models.StateTypes.StoreEditPageMessage;
@using StateMessage = Models.StateTypes.StateMessage;
@using TextBoxMessage = Models.CoreTypes.TextBoxMessage;

@if (Form != null) {
    string pageTitle = Form.Mode().IsCreateNewStoreMode ? "New store" : "Edit store";
    string storeNameClass = Form.StoreNameErrors().IsSome() ? "is-invalid" : "";
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <span class="navbar-text">@pageTitle</span>
        <form class="form-inline">
            <div role="group">
                @if (Form.Mode().IsEditExistingStoreMode) {
                    <button style="margin-right:5px" type="button" class="btn btn-secondary" @onclick="OnDelete"><span class="oi oi-trash" aria-hidden="true"></span></button>
                }
                <button type="button" class="btn btn-primary" @onclick="OnSubmit" disabled="@(Form.HasErrors())">Done</button>
            </div>
        </form>
    </nav>
    <form>
        <div class="form-group">
            <label for="inputStoreName" class="col-sm-2 col-form-label">Store name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control @storeNameClass" id="inputStoreName" @oninput="OnNameChange" @onfocusout="OnNameFocusOut" value="@Form.StoreName.ValueCommitted">
                @if (Form.StoreNameErrors().IsSome()) {
                    <div class="invalid-feedback">@Form.StoreNameErrors().Value</div>
                }
            </div>
        </div>
    </form>
}
else {
    <p>Loading...</p>
}

@code {
    IDisposable _subscription = null;

    public void Dispose() => _subscription?.Dispose();

    protected override async Task OnInitializedAsync() {
        _subscription =
            StateService.State
            .Select(i => i.StoreEditPage)
            .Where(i => i.IsSome())
            .Select(i => i.Value)
            .DistinctUntilChanged()
            .Subscribe(i => Form = i);

        if (!string.IsNullOrWhiteSpace(Id)) {
            var pageMessage = PageMessage.NewBeginEditStore(Id);
            var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
            await StateService.UpdateAsync(stateMessage);
        }
        else {
            var pageMessage = PageMessage.BeginCreateNewStore;
            var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
            await StateService.UpdateAsync(stateMessage);
        }
    }

    [Inject]
    public Models.Service StateService { get; set; }

    [Inject]
    NavigationManager Navigation { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected CoreTypes.StoreEditForm Form { get; set; }

    protected async Task OnNameChange(ChangeEventArgs e) {
        var textBoxMessage = TextBoxMessage.NewTypeText((string)e.Value);
        var formMessage = FormMessage.NewStoreNameMessage(textBoxMessage);
        var pageMessage = PageMessage.NewStoreEditFormMessage(formMessage);
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
    }

    protected async Task OnNameFocusOut(FocusEventArgs e) {
        var textBoxMessage = TextBoxMessage.LoseFocus;
        var formMessage = StoreEditFormModule.Message.NewStoreNameMessage(textBoxMessage);
        var pageMessage = PageMessage.NewStoreEditFormMessage(formMessage);
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
    }

    protected async Task OnDelete(MouseEventArgs e) {
        var pageMessage = PageMessage.DeleteStore;
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        Dispose();
        Navigation.NavigateTo("shoppinglist");
        await StateService.UpdateAsync(stateMessage);
    }

    protected async Task OnSubmit(MouseEventArgs e) {
        var pageMessage = PageMessage.SubmitStoreEditForm;
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        Navigation.NavigateTo("shoppinglist");
        await StateService.UpdateAsync(stateMessage);
    }
}
