@page "/storeedit"
@page "/storeedit/{ID}"
@implements IDisposable
@using System.Reactive.Linq;
@using Models
@using static Common.OptionExtensions;
@using static Models.StoreEditFormModule.StoreEditFormExtensions;
@using FormMessage = Models.StoreEditFormModule.Message;
@using PageMessage = Models.StateTypes.StoreEditPageMessage;
@using StateMessage = Models.StateTypes.StateMessage;
@using TextBoxMessage = Models.CoreTypes.TextBoxMessage;

@if (Form != null) {
    string pageTitle = Form.Mode().IsCreateNewStoreMode ? "New store" : "Edit store";
    string storeNameClass = Form.StoreNameErrors().IsSome() ? "is-invalid" : "";
    <form>
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <span class="navbar-text">@pageTitle</span>
            <div class="form-inline">
                <div role="group">
                    @if (Form.Mode().IsEditExistingStoreMode) {
                        <button style="margin-right:5px" type="button" class="btn btn-secondary" @onclick="OnDelete"><Icon Kind="IconKind.Trash" /></button>
                    }
                    @*Hidden submit button because Enter is causing the form to get submitted without first causing the name field to lose focus. Can't get it to work properly.*@
                    <button type="submit" hidden disabled />
                    <button type="button" class="btn btn-primary"
                            @onclick="OnSubmit"
                            disabled="@(Form.HasErrors())">
                        Done
                    </button>
                </div>
            </div>
        </nav>
        <div class="col" style="width:40ch">
            <div class="form-group">
                <label for="inputStoreName" class="col-form-label">Store name</label>
                <div>
                    <input type="text" class="form-control @storeNameClass" id="inputStoreName" @oninput="OnNameChange" @onfocusout="OnNameFocusOut" value="@Form.StoreName.ValueCommitted">
                    @if (Form.StoreNameErrors().IsSome()) {
                        <div class="invalid-feedback">@Form.StoreNameErrors().Value</div>
                    }
                </div>
            </div>
        </div>
    </form>}
else {
    <p>Loading...</p>
}

@code {
    private IDisposable _subscription = null;

    protected override async Task OnInitializedAsync() {
        _subscription =
            StateService.State
            .Select(i => i.StoreEditPage)
            .Where(i => i.IsSome())
            .Select(i => i.Value)
            .DistinctUntilChanged()
            .Subscribe(i => Form = i);

        if (!string.IsNullOrWhiteSpace(Id)) {
            var pageMessage = PageMessage.NewBeginEditStore(Id);
            var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
            await StateService.UpdateAsync(stateMessage);
        }
        else {
            var pageMessage = PageMessage.BeginCreateNewStore;
            var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
            await StateService.UpdateAsync(stateMessage);
        }
    }

    [Inject]
    public Models.Service StateService { get; set; }

    [Inject]
    public NavigationManager Navigation { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected CoreTypes.StoreEditForm Form { get; set; }

    protected async Task OnNameChange(ChangeEventArgs e) {
        var textBoxMessage = TextBoxMessage.NewTypeText((string)e.Value);
        var formMessage = FormMessage.NewStoreNameMessage(textBoxMessage);
        var pageMessage = PageMessage.NewStoreEditFormMessage(formMessage);
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
    }

    protected async Task OnNameFocusOut(FocusEventArgs e) {
        var textBoxMessage = TextBoxMessage.LoseFocus;
        var formMessage = FormMessage.NewStoreNameMessage(textBoxMessage);
        var pageMessage = PageMessage.NewStoreEditFormMessage(formMessage);
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
    }

    protected async Task OnDelete(MouseEventArgs e) {
        Dispose();
        var pageMessage = PageMessage.DeleteStore;
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
        Navigation.NavigateTo("shoppinglist");
    }

    protected async Task OnSubmit(MouseEventArgs e) {
        Dispose();
        var pageMessage = PageMessage.SubmitStoreEditForm;
        var stateMessage = StateMessage.NewStoreEditPageMessage(pageMessage);
        await StateService.UpdateAsync(stateMessage);
        Navigation.NavigateTo("shoppinglist");
    }

    public void Dispose() => _subscription?.Dispose();
}
