@page "/sync"

<style>
    h3 {
        margin-top: 20px;
    }
</style>
<h1>Synchronization</h1>

@if (IsReady) {
    <h3>Options</h3>
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await ResetToEmpty())">Clear database</button>
    <a class="btn btn-outline-primary" href="https://localhost:8081/_explorer/index.html" target="_blank">Data Explorer</a>
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await PushAsync())">Push</button>
    <button type="button" class="btn btn-outline-primary" @onclick="@(async () => await PullAsync())">Pull</button>
}

@if (ModalStatusMessage != "") {
    <h3>Status</h3>
    <p>@ModalStatusMessage</p>
}

<h3>Log</h3>
<ul>
    @foreach (var i in Log) {
        <li>@i</li>
    }
</ul>